@model IEnumerable<DBSD_CW2_7510_8775_7912.Models.ItemTransactionList>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemTransactionListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemTransactionListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemTransactionListId })
        </td>
    </tr>
}

</table>
